<h1>Allgemein</h1>
<p>Die gesamte interne Datenbank der App wird in eine Datei pro Tabelle exportiert. Dadurch sind die z.B. die Daten einer Tankfüllung
in mehreren Dateien verteilt. Um das dazugehörige Auto einer Tankfüllung zu finden, suchen Sie den Wert der car Spalte in der
Id Spalte der cars Tabelle.</p>

<h1>Spalten</h1>
<big>cars</big>
<p>Id: [int]<br>
name: [string]<br>
suspended_since: [date]<br>
color: [int] In <a href="http://developer.android.com/reference/android/graphics/Color.html">der Android Dokumentation für Color</a> finden Sie detaillierte Informationen darüber, wie der Farbwert berechnet wird.</p>

<big>fuel_types</big>
<p>Id: [int]<br>
name: [string]<br>
category: [string]</p>

<big>other_costs</big>
<p>Id: [int]<br>
car: [int] die Id des Autos.<br>
mileage: [int] der Gesamtkilometerstand.<br>
price: [float]<br>
recurrence: "ONCE|DAY|MONTH|QUARTER|YEAR [int]" Beispiel: DAY 5 bedeutet jeden fünften Tag.<br>
title: [string]<br>
date: [date]<br>
note: [string]<br>
end_date: [date] Beende die Wiederholungen an diesem Datum.</p>

<big>refuelings</big>
<p>Id: [int]<br>
partial: "true|false"<br>
date: [date]<br>
note: [string]<br>
volume: [float]<br>
fuel_type: [int] die Id der Spritart.<br>
price: [float]<br>
mileage: [int] der Gesamtkilometerstand.<br>
car: [int] die Id des Autos.</p>

<big>reminders</big>
<p>Id: [int]<br>
title: [string]<br>
after_time: "DAY|MONTH|YEAR [int]" Beispiel: MONTH 3 bedeutet nach drei Monaten.<br>
after_distance: [int]<br>
start_date: [date]<br>
start_mileage: [int]<br>
car: [int] die Id des Autos.<br>
notification_dismissed: "true|false"<br>
snoozed_until: [date]</p>