<h1>General</h1>
<p>The whole database gets exported with one file for each table. This means the data of one refueling is separated
into multiple files. You can find the car by looking up the value of the car column in the Id column of the cars
table.</p>

<h1>Columns</h1>
<big>cars</big>
<p>Id: [int]<br>
name: [string]<br>
suspended_since: [date]<br>
color: [int] Have a look at <a href="http://developer.android.com/reference/android/graphics/Color.html">the android color documentation</a> for a more detailed explanation how the value is calculated.</p>

<big>fuel_types</big>
<p>Id: [int]<br>
name: [string]<br>
category: [string]</p>

<big>other_costs</big>
<p>Id: [int]<br>
car: [int] the Id of the car.<br>
mileage: [int] Total distance (odometer).<br>
price: [float]<br>
recurrence: "ONCE|DAY|MONTH|QUARTER|YEAR [int]" Example: DAY 5 means every five days.<br>
title: [string]<br>
date: [date]<br>
note: [string]<br>
end_date: [date] End recurrence on this date.</p>

<big>refuelings</big>
<p>Id: [int]<br>
partial: "true|false"<br>
date: [date]<br>
note: [string]<br>
volume: [float]<br>
fuel_type: [int] the Id of the fuel type.<br>
price: [float]<br>
mileage: [int] Total distance (odometer).<br>
car: [int] the Id of the car.</p>

<big>reminders</big>
<p>Id: [int]<br>
title: [string]<br>
after_time: "DAY|MONTH|YEAR [int]" Example: MONTH 3 means after three months.<br>
after_distance: [int]<br>
start_date: [date]<br>
start_mileage: [int]<br>
car: [int] the Id of the car.<br>
notification_dismissed: "true|false"<br>
snoozed_until: [date]</p>
